<div style="border:1px solid black">EventManager</div>
<div class="row" style="border:1px solid black">
    <div class="col-10" style="border:1px solid black">
        Toolbar
    </div>
    <div class="col" style="border:1px solid black">
        Search
    </div>
</div>
<div class="row" style="border:1px solid black">
    <div class="col-2">
        <feature-sidebar>

        </feature-sidebar>
    </div>
    <div class="col" style="border:1px solid black">Maincontent</div>
</div>
<div style="border:1px solid black">Main Footer</div>
<!-- <pattern-card [card]="card"></pattern-card> -->