<div style="border:1px solid black">
    <ul>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
        <li style="border:1px solid black">
            Menu 1
        </li>
    </ul>
</div>