<ng-container>
  <div><b>{{ getLocalizedString$(element.label) | async }}</b></div>
  <div [ngSwitch]="element.type" style="margin-left: 5px;">
    <div *ngSwitchCase="elementType.SELECT">
      <mat-form-field [formGroup]="formGroup" style="width: 100%;">
        <mat-select
          class="select form-control"
          [id]="element.id"
          (selectionChange)="stateChange($event)"
          [formControlName]="element.id"
          style="width: 100%; border-bottom: 1px solid black;"
        >
          <mat-option
            *ngFor="let option of element.options"
            [disabled]="option.disabled"
            [value]="option.value"
            id="nvOption-{{ option.value }}"
            role="select"
          >
            {{ getLocalizedString$(option.label) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="elementType.TEXT">
      <mat-form-field [formGroup]="formGroup" style="width: 100%;">
        <input
          matInput
          [formControlName]="element.id"
          [placeholder]="element.placeholder"
          (input)="stateChange($event)"
          style=" border-bottom: 1px solid black; padding-bottom:5px"
        />
      </mat-form-field>
    </div>
    <div *ngSwitchCase="elementType.EMAIL">
      <mat-form-field [formGroup]="formGroup" style="width: 100%;">
        <input
          matInput
          type="email"
          [formControlName]="element.id"
          [placeholder]="element.placeholder"
          (input)="stateChange($event)"
          style=" border-bottom: 1px solid black; padding-bottom:5px"
        />
      </mat-form-field>
    </div>
    <div *ngSwitchCase="elementType.PASSWORD">
      <mat-form-field [formGroup]="formGroup" style="width: 100%;">
        <input
          matInput
          type="password"
          [formControlName]="element.id"
          [placeholder]="element.placeholder"
          (input)="stateChange($event)"
        />
      </mat-form-field>
    </div>
    <div *ngSwitchCase="elementType.TOGGLE" >
      <mat-form-field [formGroup]="formGroup" style="width: 100%; " class="toggle-element">
        <mat-slide-toggle
          [formControlName]="element.id"
          (change)="stateChange($event)"
          [id]="element.id"
        ></mat-slide-toggle>
        <textarea
          matInput
          [hidden]="true"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</ng-container>

